@charset "utf-8";
/* CSS Document */
body{background-color: #252934;}
nav{height: 0.36rem;line-height: 0.36rem;font-size: 0.36rem;margin-top: 0.64rem;position: relative;text-align: center;color: #fff;}
nav img{position: absolute;top: 0;left: 0.24rem;height: 0.36rem;}

.hei{height: 7.96rem;background-color: #1e212a;padding: 0 0.24rem;margin-top: 0.26rem;}
.bxx{height: 1.06rem;padding-top: 0.3rem;border-bottom: .02rem solid #252934;}
.bxx .btp{float: left;width: 0.78rem;height: 0.78rem;border: 0.02rem solid #666;border-radius: 0.6rem;margin-left: 0.24rem;}
.bxx .btp img{width: 0.78rem;}
.bxx .mc{float: left;padding-left: 0.2rem;margin-top: 0.08rem;}
.bxx div .da{font-size: 0.28rem;color: #fff;}
.bxx div .xiao{font-size: 0.24rem;color: rgba(153,153,153,0.5);}

.slzt{height: 1.26rem;border-bottom: .02rem solid #252934;}
.slzt>div{float: left;width: 50%;}
.slzt div .bt{text-align: center;font-size: 0.26rem;color: rgba(153,153,153,0.5);margin-top: 0.28rem;}
.slzt div .sz{font-size: 0.28rem;text-align: center;margin-top: 0.08rem;}
.slzt div .sl{color: #fff;font-weight: bold;}
.slzt div .lv{color: #2ea300;}

.xq{height: 3.34rem;border-bottom: .02rem solid #252934;}
.xq .dz{padding-top: 0.3rem;height: 0.8rem;}
.xq .dz *{float: left;}
.xq .bt{width: 1.76rem;font-size: 0.26rem;color: rgba(153,153,153,0.5);}
.xq .dzxq{width: 5.26rem;font-size: 0.26rem;color:rgba(153,153,153,0.5);font-weight: bold;word-wrap:break-word ;text-align: right;line-height: 0.4rem;}
.xq .txid{padding-top: 0.2rem;height: 1.2rem;}
.xq .txid *{float: left;}
.xq .idxq{width: 5.26rem;font-size: 0.26rem;color:rgba(153,153,153,0.5);font-weight: bold;word-wrap:break-word ;text-align: right;line-height: 0.4rem;}
.xq .rq{padding-top: 0.29rem;height: 0.26rem;}
.xq .rq *{float: left;}
.xq .rqxq{width: 5.26rem;font-size: 0.26rem;color:rgba(153,153,153,0.5);word-wrap:break-word ;text-align: right;line-height: 0.26rem;}

.tj{display: block;width: 6rem;height: 0.88rem;border: none;border-radius: 0.44rem;background-color: #ffbe33;color: #fff;font-size: 0.42rem;margin: 0.5rem auto 0;}
